<!-- Đã việt hóa Edit this file to change the layout of the detail view form -->

<script src="resources/datepicker/js/datepicker.packed.js"></script>
<link href="resources/datepicker/css/datepicker.css" rel="stylesheet">

<a name="detail-view"></a>
<div class="panel-heading"><h3 class="panel-title"><strong><%%DETAIL_VIEW_TITLE%%></strong></h3></div>

<div class="panel-body" id="applicants_and_tenants_dv_container">
	<!-- child links -->
	<div class="row">
		<div class="col-xs-12">
			<a class="hidden-xs btn btn-default btn-lg pull-right hidden hspacer-sm" href="applications_leases_view.php?filterer_tenants=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="applications_leases_link"><i class="glyphicon glyphicon-list-alt"></i> Đăng ký/thuê nhà</a>
			<a class="visible-xs btn btn-default btn-lg btn-block hidden vspacer-sm" href="applications_leases_view.php?filterer_tenants=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="xs_applications_leases_link"><i class="glyphicon glyphicon-list-alt"></i> Đăng ký/thuê nhà</a>
			<input type="hidden" id="applications_leases_hclink" value="applications_leases_view.php?filterer_tenants=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<a class="hidden-xs btn btn-default btn-lg pull-right hidden hspacer-sm" href="residence_and_rental_history_view.php?filterer_tenant=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="residence_and_rental_history_link"><i class="glyphicon glyphicon-list-alt"></i> Lịch sử thuê nhà</a>
			<a class="visible-xs btn btn-default btn-lg btn-block hidden vspacer-sm" href="residence_and_rental_history_view.php?filterer_tenant=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="xs_residence_and_rental_history_link"><i class="glyphicon glyphicon-list-alt"></i> Lịch sử thuê nhà </a>
			<input type="hidden" id="residence_and_rental_history_hclink" value="residence_and_rental_history_view.php?filterer_tenant=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<a class="hidden-xs btn btn-default btn-lg pull-right hidden hspacer-sm" href="employment_and_income_history_view.php?filterer_tenant=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="employment_and_income_history_link"><i class="glyphicon glyphicon-list-alt"></i> Thông tin thu nhập</a>
			<a class="visible-xs btn btn-default btn-lg btn-block hidden vspacer-sm" href="employment_and_income_history_view.php?filterer_tenant=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="xs_employment_and_income_history_link"><i class="glyphicon glyphicon-list-alt"></i> Thông tin thu nhập</a>
			<input type="hidden" id="employment_and_income_history_hclink" value="employment_and_income_history_view.php?filterer_tenant=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<a class="hidden-xs btn btn-default btn-lg pull-right hidden hspacer-sm" href="references_view.php?filterer_tenant=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="references_link"><i class="glyphicon glyphicon-list-alt"></i> Thông tin thêm </a>
			<a class="visible-xs btn btn-default btn-lg btn-block hidden vspacer-sm" href="references_view.php?filterer_tenant=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="xs_references_link"><i class="glyphicon glyphicon-list-alt"></i> Thông tin thêm </a>
			<input type="hidden" id="references_hclink" value="references_view.php?filterer_tenant=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<div class="clearfix"></div>
		</div>
	</div>
	<hr>

	<div class="row">
		<!-- form inputs -->
		<div class="col-md-8 col-lg-10" id="applicants_and_tenants_dv_form">
			<fieldset class="form-horizontal">

				<div class="form-group">
					<label for="id" class="control-label col-lg-3">ID</label>
					<div class="col-lg-9">
						<p class="form-control-static" id="id"><%%VALUE(id)%%></p>
					</div>
				</div>

				<div class="form-group">
					<label for="last_name" class="control-label col-lg-3"> Họ (ví dụ: Nguyễn) </label>
					<div class="col-lg-9">
						<input maxlength="15" type="text" class="form-control" name="last_name" id="last_name" value="<%%VALUE(last_name)%%>">
					</div>
				</div>

				<div class="form-group">
					<label for="first_name" class="control-label col-lg-3">Tên (ví dụ: Thúy Hằng) </label>
					<div class="col-lg-9">
						<input maxlength="30" type="text" class="form-control" name="first_name" id="first_name" value="<%%VALUE(first_name)%%>">
					</div>
				</div>

				<div class="form-group">
					<label for="email" class="control-label col-lg-3">Email (Thư điện tử) </label>
					<div class="col-lg-9">
						
						<p class="form-control-static">
							<a id="email-link" href="mailto:<%%VALUE(email)%%>" target="_blank"><i class="glyphicon glyphicon-envelope text-info" title="<%%VALUE(email)%%>"></i></a>
							<label for="email"><button type="button" id="email-edit-link" class="btn btn-default hspacer-lg vspacer-sm" data-toggle="collapse" data-target="#email" title="<%%TRANSLATION(Edit)%%>"><i class="glyphicon glyphicon-pencil"></i></button></label>
						</p>
						<script>jQuery(function(){ var e_email = '<%%VALUE(email)%%>'; if(e_email == '' || e_email == '&nbsp;' || e_email == 'blank.gif') jQuery('#email-link').hide(); });</script><input maxlength="80" type="text" class="form-control collapse" name="email" id="email" value="<%%VALUE(email)%%>">
					</div>
				</div>

				<div class="form-group">
					<label for="phone" class="control-label col-lg-3"> Điện thoại </label>
					<div class="col-lg-9">
						<input maxlength="15" type="text" class="form-control" name="phone" id="phone" value="<%%VALUE(phone)%%>">
					</div>
				</div>

				<div class="form-group">
					<label for="birth_date" class="control-label col-lg-3">Ngày sinh </label>
					<div class="col-lg-9">
						<%%COMBO(birth_date)%%>
					</div>
				</div>

				<div class="form-group">
					<label for="driver_license_number" class="control-label col-lg-3">Số chứng minh nhân dân </label>
					<div class="col-lg-9">
						<input maxlength="15" type="text" class="form-control" name="driver_license_number" id="driver_license_number" value="<%%VALUE(driver_license_number)%%>">
					</div>
				</div>

				<div class="form-group">
					<label for="monthly_gross_pay" class="control-label col-lg-3">Lương tháng </label>
					<div class="col-lg-9">
						<input maxlength="11" type="text" class="form-control" name="monthly_gross_pay" id="monthly_gross_pay" value="<%%VALUE(monthly_gross_pay)%%>">
					</div>
				</div>

				<div class="form-group">
					<label for="additional_income" class="control-label col-lg-3">Thu nhập thêm </label>
					<div class="col-lg-9">
						<input maxlength="11" type="text" class="form-control" name="additional_income" id="additional_income" value="<%%VALUE(additional_income)%%>">
					</div>
				</div>

				<div class="form-group">
					<label for="assets" class="control-label col-lg-3"> Tài sản </label>
					<div class="col-lg-9">
						<input maxlength="11" type="text" class="form-control" name="assets" id="assets" value="<%%VALUE(assets)%%>">
					</div>
				</div>

				<div class="form-group">
					<label for="status" class="control-label col-lg-3">Status<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<%%COMBO(status)%%>
					</div>
				</div>

			</fieldset>
		</div>

		<!-- DV action buttons -->
		<div class="col-md-4 col-lg-2" id="applicants_and_tenants_dv_action_buttons">
			<div class="btn-toolbar">
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%UPDATE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%DESELECT_BUTTON%%>
					<%%DVPRINT_BUTTON%%>
					<%%DELETE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%INSERT_BUTTON%%>
				</div>
			</div>
		</div>
	</div>


	<!-- child records -->
	<hr>
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<div id="applicants_and_tenants-children" class="children-tabs"></div>
		</div>
	</div>

</div><!-- /div class="panel-body" -->
	<script>
		$j(function() {
			var add_new_mode = (!$j('input[name=SelectedID]').val());
			var embedded_mode = ($j('input[name=Embedded]').val() == 1);

			$j('select, input[type=text], textarea').not(':disabled').eq(0).focus();
			$j('form').eq(0).change(function(){
				if($j(this).data('already_changed')) return;
				if($j('#deselect').length) $j('#deselect').removeClass('btn-default').addClass('btn-warning').get(0).lastChild.data = " <%%TRANSLATION(Cancel)%%>";
				$j(this).data('already_changed', true);
			});

			$j('a[href="<%%TRANSLATION(ImageFolder)%%>"]').click(function(){ return false; });

			if(embedded_mode){
				/* hide links to children tables in embedded mode */
				$j('.detail_view a[id$=_link]').remove();

				/* append embedded mode to all links */
				var append_embedded = function(){
					$j('a[href]:not([href^=#]):not([href^=javascript]):not([href$="Embedded=1"])').each(
						function(){
							$j(this).attr('href', $j(this).attr('href') + '&Embedded=1');
						}
					);
				}
				setTimeout(append_embedded, 500);
				setTimeout(append_embedded, 1500);
				setTimeout(append_embedded, 2500);
				setTimeout(append_embedded, 3500);
			}

			/* when no record is selected ('add new' mode) */
			if(add_new_mode){
				/* hide links to children tables */
				$j('.detail_view a[id$=_link]').remove();
			}else{
				post(
					'parent-children.php', {
						ParentTable: 'applicants_and_tenants',
						SelectedID: '<%%VALUE(id)%%>',
						Operation: 'show-children'
					},
					'applicants_and_tenants-children'
				);
			}
		});
	</script>
