<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="employment_and_income_history-employer_name-<%%VALUE(id)%%>" class=""><%%VALUE(employer_name)%%></td>
		<td id="employment_and_income_history-city-<%%VALUE(id)%%>" class=""><%%VALUE(city)%%></td>
		<td id="employment_and_income_history-employer_phone-<%%VALUE(id)%%>" class=""><%%VALUE(employer_phone)%%></td>
		<td id="employment_and_income_history-employed_from-<%%VALUE(id)%%>" class=""><%%VALUE(employed_from)%%></td>
		<td id="employment_and_income_history-employed_till-<%%VALUE(id)%%>" class=""><%%VALUE(employed_till)%%></td>
		<td id="employment_and_income_history-occupation-<%%VALUE(id)%%>" class="text-center"><%%VALUE(occupation)%%></td>
		<td id="employment_and_income_history-notes-<%%VALUE(id)%%>" class=""><%%VALUE(notes)%%></td>
