<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="properties-property_name-<%%VALUE(id)%%>" class=""><%%VALUE(property_name)%%></td>
		<td id="properties-type-<%%VALUE(id)%%>" class=""><%%VALUE(type)%%></td>
		<td id="properties-number_of_units-<%%VALUE(id)%%>" class="text-center"><%%VALUE(number_of_units)%%></td>
		<td id="properties-photo-<%%VALUE(id)%%>" class=""><a href="<%%TRANSLATION(ImageFolder)%%><%%VALUE(photo)%%>" rel="lightbox"><img src="thumbnail.php?i=<%%VALUE(photo)%%>&t=properties&f=photo&v=tv" class="img-thumbnail"></a></td>
		<td id="properties-owner-<%%VALUE(id)%%>" class=""><%%VALUE(owner)%%></td>
		<td id="properties-operating_account-<%%VALUE(id)%%>" class=""><%%VALUE(operating_account)%%></td>
		<td id="properties-property_reserve-<%%VALUE(id)%%>" class="text-right"><%%VALUE(property_reserve)%%></td>
		<td id="properties-street-<%%VALUE(id)%%>" class=""><%%VALUE(street)%%></td>
		<td id="properties-City-<%%VALUE(id)%%>" class=""><%%VALUE(City)%%></td>
		<td id="properties-State-<%%VALUE(id)%%>" class="text-center"><%%VALUE(State)%%></td>
		<td id="properties-ZIP-<%%VALUE(id)%%>" class="text-right"><%%VALUE(ZIP)%%></td>
