<!-- Edit this file to change the layout of the detail view form -->

<a name="detail-view"></a>
<div class="panel-heading"><h3 class="panel-title"><strong><%%DETAIL_VIEW_TITLE%%></strong></h3></div>

<div class="panel-body" id="properties_dv_container">
	<!-- child links -->
	<div class="row">
		<div class="col-xs-12">
			<input type="hidden" id="applications_leases_hclink" value="applications_leases_view.php?filterer_property=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<a class="hidden-xs btn btn-default btn-lg pull-right hidden hspacer-sm" href="units_view.php?filterer_property=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="units_link"><i class="glyphicon glyphicon-list-alt"></i> Units</a>
			<a class="visible-xs btn btn-default btn-lg btn-block hidden vspacer-sm" href="units_view.php?filterer_property=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="xs_units_link"><i class="glyphicon glyphicon-list-alt"></i> Units</a>
			<input type="hidden" id="units_hclink" value="units_view.php?filterer_property=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<div class="clearfix"></div>
		</div>
	</div>
	<hr>

	<div class="row">
		<!-- form inputs -->
		<div class="col-md-8 col-lg-10" id="properties_dv_form">
			<fieldset class="form-horizontal">

				<div class="form-group">
					<label for="id" class="control-label col-lg-3">ID</label>
					<div class="col-lg-9">
						<p class="form-control-static" id="id"><%%VALUE(id)%%></p>
					</div>
				</div>

				<div class="form-group">
					<label for="property_name" class="control-label col-lg-3">Property Name<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<input maxlength="" type="text" class="form-control" name="property_name" id="property_name" value="<%%VALUE(property_name)%%>" required>
					</div>
				</div>

				<div class="form-group">
					<label for="type" class="control-label col-lg-3">Type<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<%%COMBO(type)%%>
					</div>
				</div>

				<div class="form-group">
					<label for="number_of_units" class="control-label col-lg-3">Number of units</label>
					<div class="col-lg-9">
						<input maxlength="15" type="text" class="form-control" name="number_of_units" id="number_of_units" value="<%%VALUE(number_of_units)%%>">
					</div>
				</div>

				<div class="form-group">
					<label for="photo" class="control-label col-lg-3">Photo <button class="btn btn-info btn-xs vspacer-sm" type="button" data-toggle="collapse" tabindex="-1" data-target="#photo-description"><i class="glyphicon glyphicon-info-sign"></i></button></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="photo-description"><div class="alert alert-info">Maximum file size allowed: 1000 KB.<br />Allowed file types: jpg, jpeg, gif, png</div></span>

						<div class="row"><div class="col-md-8">

						<a href="<%%TRANSLATION(ImageFolder)%%><%%VALUE(photo)%%>" rel="lightbox[properties_dv]"><img src="thumbnail.php?i=<%%VALUE(photo)%%>&t=properties&f=photo&v=dv" class="img-thumbnail"></a>
</div>

												<div class="col-md-4">
							<%%UPLOADFILE(photo)%%>
							<%%REMOVEFILE(photo)%%>
						</div>
					</div>

					</div>
				</div>

				<div class="form-group">
					<label for="owner" class="control-label col-lg-3">Owner</label>
					<div class="col-lg-9">
						<div class="row"><div class="col-xs-10"><%%COMBO(owner)%%></div><div class="col-xs-1"><%%PLINK(owner)%%></div></div>
					</div>
				</div>

				<div class="form-group">
					<label for="country" class="control-label col-lg-3">Country</label>
					<div class="col-lg-9">
						<%%COMBO(country)%%>
					</div>
				</div>

				<div class="form-group">
					<label for="street" class="control-label col-lg-3">Street</label>
					<div class="col-lg-9">
						<input maxlength="40" type="text" class="form-control" name="street" id="street" value="<%%VALUE(street)%%>">
					</div>
				</div>

				<div class="form-group">
					<label for="City" class="control-label col-lg-3">City</label>
					<div class="col-lg-9">
						<input maxlength="40" type="text" class="form-control" name="City" id="City" value="<%%VALUE(City)%%>">
					</div>
				</div>

				<div class="form-group">
					<label for="State" class="control-label col-lg-3">State</label>
					<div class="col-lg-9">
						<%%COMBO(State)%%>
					</div>
				</div>

				<div class="form-group">
					<label for="ZIP" class="control-label col-lg-3">ZIP</label>
					<div class="col-lg-9">
						<input maxlength="15" type="text" class="form-control" name="ZIP" id="ZIP" value="<%%VALUE(ZIP)%%>">
					</div>
				</div>

			</fieldset>
		</div>

		<!-- DV action buttons -->
		<div class="col-md-4 col-lg-2" id="properties_dv_action_buttons">
			<div class="btn-toolbar">
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%UPDATE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%DESELECT_BUTTON%%>
					<%%DVPRINT_BUTTON%%>
					<%%DELETE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%INSERT_BUTTON%%>
				</div>
			</div>
		</div>
	</div>


	<!-- child records -->
	<hr>
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<div id="properties-children" class="children-tabs"></div>
		</div>
	</div>

</div><!-- /div class="panel-body" -->
	<script>
		$j(function() {
			var add_new_mode = (!$j('input[name=SelectedID]').val());
			var embedded_mode = ($j('input[name=Embedded]').val() == 1);

			$j('select, input[type=text], textarea').not(':disabled').eq(0).focus();
			$j('form').eq(0).change(function(){
				if($j(this).data('already_changed')) return;
				if($j('#deselect').length) $j('#deselect').removeClass('btn-default').addClass('btn-warning').get(0).lastChild.data = " <%%TRANSLATION(Cancel)%%>";
				$j(this).data('already_changed', true);
			});

			$j('a[href="<%%TRANSLATION(ImageFolder)%%>"]').click(function(){ return false; });

			if(embedded_mode){
				/* hide links to children tables in embedded mode */
				$j('.detail_view a[id$=_link]').remove();

				/* append embedded mode to all links */
				var append_embedded = function(){
					$j('a[href]:not([href^=#]):not([href^=javascript]):not([href$="Embedded=1"])').each(
						function(){
							$j(this).attr('href', $j(this).attr('href') + '&Embedded=1');
						}
					);
				}
				setTimeout(append_embedded, 500);
				setTimeout(append_embedded, 1500);
				setTimeout(append_embedded, 2500);
				setTimeout(append_embedded, 3500);
			}

			/* when no record is selected ('add new' mode) */
			if(add_new_mode){
				/* hide links to children tables */
				$j('.detail_view a[id$=_link]').remove();
			}else{
				post(
					'parent-children.php', {
						ParentTable: 'properties',
						SelectedID: '<%%VALUE(id)%%>',
						Operation: 'show-children'
					},
					'properties-children'
				);
			}
		});
	</script>