<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="rental_owners-first_name-<%%VALUE(id)%%>" class=""><%%VALUE(first_name)%%></td>
		<td id="rental_owners-last_name-<%%VALUE(id)%%>" class=""><%%VALUE(last_name)%%></td>
		<td id="rental_owners-company_name-<%%VALUE(id)%%>" class=""><%%VALUE(company_name)%%></td>
		<td id="rental_owners-primary_email-<%%VALUE(id)%%>" class=""><a href="mailto:<%%VALUE(primary_email)%%>" title="<%%VALUE(primary_email)%%>" class="btn btn-default"><i class="glyphicon glyphicon-envelope text-info"></i></a></td>
		<td id="rental_owners-alternate_email-<%%VALUE(id)%%>" class=""><a href="mailto:<%%VALUE(alternate_email)%%>" title="<%%VALUE(alternate_email)%%>" class="btn btn-default"><i class="glyphicon glyphicon-envelope text-info"></i></a></td>
		<td id="rental_owners-phone-<%%VALUE(id)%%>" class=""><%%VALUE(phone)%%></td>
		<td id="rental_owners-country-<%%VALUE(id)%%>" class=""><%%VALUE(country)%%></td>
		<td id="rental_owners-street-<%%VALUE(id)%%>" class=""><%%VALUE(street)%%></td>
		<td id="rental_owners-city-<%%VALUE(id)%%>" class=""><%%VALUE(city)%%></td>
		<td id="rental_owners-state-<%%VALUE(id)%%>" class=""><%%VALUE(state)%%></td>
		<td id="rental_owners-zip-<%%VALUE(id)%%>" class="text-right"><%%VALUE(zip)%%></td>
		<td id="rental_owners-comments-<%%VALUE(id)%%>" class=""><%%VALUE(comments)%%></td>
