<!-- Edit this file to change the layout of the detail view form -->

<a name="detail-view"></a>
<div class="panel-heading"><h3 class="panel-title"><strong><%%DETAIL_VIEW_TITLE%%></strong></h3></div>

<div class="panel-body" id="units_dv_container">
	<!-- child links -->
	<div class="row">
		<div class="col-xs-12">
			<a class="hidden-xs btn btn-default btn-lg pull-right hidden hspacer-sm" href="applications_leases_view.php?filterer_unit=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="applications_leases_link"><i class="glyphicon glyphicon-list-alt"></i> Applications/Leases</a>
			<a class="visible-xs btn btn-default btn-lg btn-block hidden vspacer-sm" href="applications_leases_view.php?filterer_unit=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="xs_applications_leases_link"><i class="glyphicon glyphicon-list-alt"></i> Applications/Leases</a>
			<input type="hidden" id="applications_leases_hclink" value="applications_leases_view.php?filterer_unit=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<div class="clearfix"></div>
		</div>
	</div>
	<hr>

	<div class="row">
		<!-- form inputs -->
		<div class="col-md-8 col-lg-10" id="units_dv_form">
			<fieldset class="form-horizontal">

				<div class="form-group">
					<label for="id" class="control-label col-lg-3">ID</label>
					<div class="col-lg-9">
						<p class="form-control-static" id="id"><%%VALUE(id)%%></p>
					</div>
				</div>

				<div class="form-group">
					<label for="property" class="control-label col-lg-3">Property</label>
					<div class="col-lg-9">
						<div class="row"><div class="col-xs-10"><%%COMBO(property)%%></div><div class="col-xs-1"><%%PLINK(property)%%></div><div class="col-xs-1"><span id="propertyLoading"></span></div></div>
					</div>
				</div>

				<div class="form-group">
					<label for="unit_number" class="control-label col-lg-3">Unit</label>
					<div class="col-lg-9">
						<input maxlength="40" type="text" class="form-control" name="unit_number" id="unit_number" value="<%%VALUE(unit_number)%%>">
					</div>
				</div>

				<div class="form-group">
					<label for="photo" class="control-label col-lg-3">Photo <button class="btn btn-info btn-xs vspacer-sm" type="button" data-toggle="collapse" tabindex="-1" data-target="#photo-description"><i class="glyphicon glyphicon-info-sign"></i></button></label>
					<div class="col-lg-9">
						<span class="help-block collapse" id="photo-description"><div class="alert alert-info">Maximum file size allowed: 1000 KB.<br />Allowed file types: jpg, jpeg, gif, png</div></span>

						<div class="row"><div class="col-md-8">

						<a href="<%%TRANSLATION(ImageFolder)%%><%%VALUE(photo)%%>" rel="lightbox[units_dv]"><img src="thumbnail.php?i=<%%VALUE(photo)%%>&t=units&f=photo&v=dv" class="img-thumbnail"></a>
</div>

												<div class="col-md-4">
							<%%UPLOADFILE(photo)%%>
							<%%REMOVEFILE(photo)%%>
						</div>
					</div>

					</div>
				</div>

				<div class="form-group">
					<label for="status" class="control-label col-lg-3">Status<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<%%COMBO(status)%%>
					</div>
				</div>

				<div class="form-group">
					<label for="size" class="control-label col-lg-3">Area (sq. feet)</label>
					<div class="col-lg-9">
						<input maxlength="40" type="text" class="form-control" name="size" id="size" value="<%%VALUE(size)%%>">
					</div>
				</div>

				<div class="form-group">
					<label for="country" class="control-label col-lg-3">Country</label>
					<div class="col-lg-9">
						<p class="form-control-static" id="country"></p>
					</div>
				</div>

				<div class="form-group">
					<label for="street" class="control-label col-lg-3">Street</label>
					<div class="col-lg-9">
						<p class="form-control-static" id="street"></p>
					</div>
				</div>

				<div class="form-group">
					<label for="city" class="control-label col-lg-3">City</label>
					<div class="col-lg-9">
						<p class="form-control-static" id="city"></p>
					</div>
				</div>

				<div class="form-group">
					<label for="state" class="control-label col-lg-3">State</label>
					<div class="col-lg-9">
						<p class="form-control-static" id="state"></p>
					</div>
				</div>

				<div class="form-group">
					<label for="postal_code" class="control-label col-lg-3">Postal code</label>
					<div class="col-lg-9">
						<p class="form-control-static" id="postal_code"></p>
					</div>
				</div>

				<div class="form-group">
					<label for="rooms" class="control-label col-lg-3">Rooms</label>
					<div class="col-lg-9">
						<input maxlength="40" type="text" class="form-control" name="rooms" id="rooms" value="<%%VALUE(rooms)%%>">
					</div>
				</div>

				<div class="form-group">
					<label for="bathroom" class="control-label col-lg-3">Bathroom</label>
					<div class="col-lg-9">
						<input maxlength="15" type="text" class="form-control" name="bathroom" id="bathroom" value="<%%VALUE(bathroom)%%>">
					</div>
				</div>

				<div class="form-group">
					<label for="features" class="control-label col-lg-3">Features</label>
					<div class="col-lg-9">
						<%%COMBO(features)%%>
					</div>
				</div>

				<div class="form-group">
					<label for="rental_amount" class="control-label col-lg-3">Rental amount</label>
					<div class="col-lg-9">
						<input maxlength="9" type="text" class="form-control" name="rental_amount" id="rental_amount" value="<%%VALUE(rental_amount)%%>">
					</div>
				</div>

				<div class="form-group">
					<label for="description" class="control-label col-lg-3">Description</label>
					<div class="col-lg-9">
						<%%HTMLAREA(description)%%>
					</div>
				</div>

			</fieldset>
		</div>

		<!-- DV action buttons -->
		<div class="col-md-4 col-lg-2" id="units_dv_action_buttons">
			<div class="btn-toolbar">
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%UPDATE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%DESELECT_BUTTON%%>
					<%%DVPRINT_BUTTON%%>
					<%%DELETE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%INSERT_BUTTON%%>
				</div>
			</div>
		</div>
	</div>


	<!-- child records -->
	<hr>
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<div id="units-children" class="children-tabs"></div>
		</div>
	</div>

</div><!-- /div class="panel-body" -->
	<script src="nicEdit.js"></script>
	<script>
		bkLib.onDomLoaded(function(){
			if(document.getElementById('description')!=undefined)
				new nicEditor().panelInstance('description');

			$j(function(){
				$j('.nicEdit-panelContain').parent().width('100%');
				$j('.nicEdit-panelContain').parent().next().width('98%');
				$j('.nicEdit-main').width('99%');
			});
		});
		$j(function() {
			var add_new_mode = (!$j('input[name=SelectedID]').val());
			var embedded_mode = ($j('input[name=Embedded]').val() == 1);

			$j('select, input[type=text], textarea').not(':disabled').eq(0).focus();
			$j('form').eq(0).change(function(){
				if($j(this).data('already_changed')) return;
				if($j('#deselect').length) $j('#deselect').removeClass('btn-default').addClass('btn-warning').get(0).lastChild.data = " <%%TRANSLATION(Cancel)%%>";
				$j(this).data('already_changed', true);
			});

			$j('a[href="<%%TRANSLATION(ImageFolder)%%>"]').click(function(){ return false; });

			if(embedded_mode){
				/* hide links to children tables in embedded mode */
				$j('.detail_view a[id$=_link]').remove();

				/* append embedded mode to all links */
				var append_embedded = function(){
					$j('a[href]:not([href^=#]):not([href^=javascript]):not([href$="Embedded=1"])').each(
						function(){
							$j(this).attr('href', $j(this).attr('href') + '&Embedded=1');
						}
					);
				}
				setTimeout(append_embedded, 500);
				setTimeout(append_embedded, 1500);
				setTimeout(append_embedded, 2500);
				setTimeout(append_embedded, 3500);
			}

			/* when no record is selected ('add new' mode) */
			if(add_new_mode){
				/* hide links to children tables */
				$j('.detail_view a[id$=_link]').remove();
			}else{
				post(
					'parent-children.php', {
						ParentTable: 'units',
						SelectedID: '<%%VALUE(id)%%>',
						Operation: 'show-children'
					},
					'units-children'
				);
			}
		});
	</script>