<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="applications_leases-tenants-<%%VALUE(id)%%>" class=""><%%VALUE(tenants)%%></td>
		<td id="applications_leases-status-<%%VALUE(id)%%>" class=""><%%VALUE(status)%%></td>
		<td id="applications_leases-property-<%%VALUE(id)%%>" class=""><%%VALUE(property)%%></td>
		<td id="applications_leases-unit-<%%VALUE(id)%%>" class=""><%%VALUE(unit)%%></td>
		<td id="applications_leases-type-<%%VALUE(id)%%>" class=""><%%VALUE(type)%%></td>
		<td id="applications_leases-total_number_of_occupants-<%%VALUE(id)%%>" class="text-center"><%%VALUE(total_number_of_occupants)%%></td>
		<td id="applications_leases-start_date-<%%VALUE(id)%%>" class=""><%%VALUE(start_date)%%></td>
		<td id="applications_leases-end_date-<%%VALUE(id)%%>" class=""><%%VALUE(end_date)%%></td>
		<td id="applications_leases-rent-<%%VALUE(id)%%>" class="text-right"><%%VALUE(rent)%%></td>
		<td id="applications_leases-security_deposit-<%%VALUE(id)%%>" class="text-right"><%%VALUE(security_deposit)%%></td>
		<td id="applications_leases-emergency_contact-<%%VALUE(id)%%>" class=""><%%VALUE(emergency_contact)%%></td>
		<td id="applications_leases-agreement-<%%VALUE(id)%%>" class="text-center"><%%VALUE(agreement)%%></td>
