<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="applicants_and_tenants-last_name-<%%VALUE(id)%%>" class=""><%%VALUE(last_name)%%></td>
		<td id="applicants_and_tenants-first_name-<%%VALUE(id)%%>" class=""><%%VALUE(first_name)%%></td>
		<td id="applicants_and_tenants-email-<%%VALUE(id)%%>" class=""><a href="mailto:<%%VALUE(email)%%>" title="<%%VALUE(email)%%>" class="btn btn-default"><i class="glyphicon glyphicon-envelope text-info"></i></a></td>
		<td id="applicants_and_tenants-phone-<%%VALUE(id)%%>" class=""><%%VALUE(phone)%%></td>
		<td id="applicants_and_tenants-birth_date-<%%VALUE(id)%%>" class=""><%%VALUE(birth_date)%%></td>
		<td id="applicants_and_tenants-driver_license_number-<%%VALUE(id)%%>" class="text-center"><%%VALUE(driver_license_number)%%></td>
		<td id="applicants_and_tenants-monthly_gross_pay-<%%VALUE(id)%%>" class="text-right"><%%VALUE(monthly_gross_pay)%%></td>
		<td id="applicants_and_tenants-additional_income-<%%VALUE(id)%%>" class="text-right"><%%VALUE(additional_income)%%></td>
		<td id="applicants_and_tenants-assets-<%%VALUE(id)%%>" class="text-right"><%%VALUE(assets)%%></td>
		<td id="applicants_and_tenants-status-<%%VALUE(id)%%>" class="text-center"><%%VALUE(status)%%></td>
		<td id="applicants_and_tenants-notes-<%%VALUE(id)%%>" class=""><%%VALUE(notes)%%></td>
