<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="units-property-<%%VALUE(id)%%>" class=""><%%VALUE(property)%%></td>
		<td id="units-unit_number-<%%VALUE(id)%%>" class=""><%%VALUE(unit_number)%%></td>
		<td id="units-photo-<%%VALUE(id)%%>" class=""><a href="<%%TRANSLATION(ImageFolder)%%><%%VALUE(photo)%%>" rel="lightbox"><img src="thumbnail.php?i=<%%VALUE(photo)%%>&t=units&f=photo&v=tv" class="img-thumbnail"></a></td>
		<td id="units-status-<%%VALUE(id)%%>" class=""><%%VALUE(status)%%></td>
		<td id="units-size-<%%VALUE(id)%%>" class="text-center"><%%VALUE(size)%%></td>
		<td id="units-street-<%%VALUE(id)%%>" class=""><%%VALUE(street)%%></td>
		<td id="units-city-<%%VALUE(id)%%>" class=""><%%VALUE(city)%%></td>
		<td id="units-state-<%%VALUE(id)%%>" class="text-center"><%%VALUE(state)%%></td>
		<td id="units-rooms-<%%VALUE(id)%%>" class="text-center"><%%VALUE(rooms)%%></td>
		<td id="units-bathroom-<%%VALUE(id)%%>" class="text-center"><%%VALUE(bathroom)%%></td>
		<td id="units-features-<%%VALUE(id)%%>" class=""><%%VALUE(features)%%></td>
		<td id="units-rental_amount-<%%VALUE(id)%%>" class="text-right"><%%VALUE(rental_amount)%%></td>
